body {
  line-height: 1.3em;
  color: #444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html, body, .container {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
}

pre, code {
  font-family: "Consolas", "Courier New" monospace;
  background-color: #f5f5f5;
}

pre { padding: 10px; }

.tiny-text {
  font-weight: 200;
  font-size: 0.8em;
  colour: #aaa;
}

.action-button {
  background: none;
  color: inherit;

  border: none;
  padding: 0;
  margin: 0;

  font-size: 1em;
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
}

.icon-font {
  width: 1em;
  height: 1em;
}

.info-container {
  position: relative;
  top: 80px;
  margin: 0px auto;
  max-width: 800px;
}

.info-view, .info-description {
  padding: 5px 10px;
}

.info-view {
  font-size: 1.5em;
  line-height: 1.3em;

  border: 3px solid #eee;
}

.error-view {
    background-color: #ffb6b6;
    color: #670000;
}

.term-line:before {
  content: "> ";
}

.terminal-view {
  /* To ensure .clientWidth does not grow beyond the screen */
  overflow-x: hidden;
}

.terminal-canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;

  display: block;
  margin: 30px auto 0px auto;
}

.terminal-bar {
  margin: 0px auto;
  background: #eee;
  font-size: 0.8em;
}

.terminal-info, .terminal-terminate {
  padding: 3px;
  display: inline-block;
}

.terminal-info-label {
  color: #444;
  font-weight: 600;
}

.terminal-terminate {
  float: right;
}

.terminal-terminate:hover {
  background: #ddd;
}

.terminal-input {
  position: absolute;
  left: -1000px;
  top: -1000px;
}

.computer-view {
  height: 100%;
}

.computer-split {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.terminal-view, .editor-view {
  flex-grow: 1;
  flex-shrink: 1;
}

.file-list {
  flex-basis: 200px;
  max-width: 200px;
  background-color: #eee;
  font-size: 0.8em;
  line-height: 1.4em;
}

.file-entry {
  padding: 5px 3px;
  cursor: pointer;
}

.file-entry:hover {
  background-color: #ddd;
}

.file-entry.active {
  background-color: #ccc !important;
}

.file-computer .file-name {
  font-size: 1.4em;
}

.file-info, .file-name  {
  text-overflow: ellipsis;
  overflow: hidden;
}

.file-info {
  font-size: 0.8em;
  color: #888;
}

.file-info a, .file-info a:hover, .file-info a:visited, .file-info a:focus, .file-info a:active {
  color: inherit;
  text-decoration: none;
}

.file-icon { float: right; padding: 5px; }
.file-entry:hover .file-icon:before  { content: "\2715"; }
.file-icon.file-icon-modified:before { content: "\2b24"; }
.file-icon.file-icon-readonly:before { content: "!"; }

.notifications {
  position: absolute;
  left: 200px; /* From .file-list, I'm sorry */
  top: 0;
  right:  0;
}

.notification {
  position: relative;
  display: flex;
  justify-content: space-between;

  width: 80%;
  margin: 10px auto;
  z-index: 100;
  font-size: 0.9em;

  background: #fafafa;
}

.notification > * { padding: 0.5em; }
.notification-kind { color: white; }

.notification-content {
  flex-grow: 1;
  flex-shrink: 1;
}

.notification-close {
  color: #aaa;
  cursor: pointer;
}

.notification-close, .notification-kind {
  display: flex;
  align-items: center;
}

.notification-close:hover { color: #666; }
.notification-close:before { content: "\2715"; }

.notification-error { border: 1px solid #ff0000; }
.notification-error .notification-kind { background-color: #ff0000; }
.notification-error .notification-kind span:before { content: "Error"; }

.notification-warn { border: 1px solid #f9982f; }
.notification-warn .notification-kind { background-color: #f9982f; }
.notification-warn .notification-kind span:before { content: "Warning"; }

.notification-ok { border: 1px solid #2dff31; }
.notification-ok .notification-kind { background-color: #2dff31; }
.notification-ok .notification-kind span:before { content: "Success"; }

.settings-cog {
    position: fixed;
    bottom: 5px;
    left: 5px;
    opacity: 0.6;
    z-index: 50;
}

.settings-cog:hover { opacity: 1; }

.dialogue-overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  z-index: 150; /* Over notification and cogs */

  background: rgba(0, 0, 0, 0.7);
}

.dialogue-box {
  position: relative;
  top: 80px;
  margin: 0px auto;
  padding: 20px;
  width: 800px;

  background: white;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
}

.form-group > label {
  flex-basis: 50%;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 500;
}

.form-group input, .form-group select {
  margin: 0px 5px;
}
