[data-theme="light"] {
  --color-background: #fff;
  --color-text: #444;
  --color-tinytext: #aaa;
  --color-primary: #007acc;
  --color-code-background: #f5f5f5;

  --color-filelist-background: #eee;
  --color-fileentry-hover: #ddd;
  --color-fileentry-active: #ccc;
  --color-filname: #444;
  --color-fileinfo: #888;

  --color-notification-background: #fff;
  --color-error: #ffb6b6;
  --color-warn: #f9982f;
  --color-ok: #2dff31;
}

[data-theme="dark"] {
  --color-background: #1e1e1e;
  --color-text: #fff;
  --color-tinytext: #aaa;
  --color-primary: #007acc;
  --color-code-background: #252526;

  --color-filelist-background: #2d2d30;
  --color-fileentry-hover: #3e3e42;
  --color-fileentry-active: #007acc;
  --color-filname: #fff;
  --color-fileinfo: #ccc;

  --color-notification-background: #3e3e42;
  --color-error: #670000;
  --color-warn: #f9982f;
  --color-ok: #2dff31;
}

body {
  line-height: 1.3em;
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html, body, .container, :global(.container) {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
}

pre, code {
  font-family: "Consolas", "Courier New" monospace;
  background-color: var(--color-code-background);
}

code {
  padding: 0px 2px;
}

pre {
  padding: 10px;
  white-space: pre-wrap;
  font-size: 0.8em;
}

.tinyText {
  font-weight: 200;
  font-size: 0.8em;
  color: var(--color-tinytext);
}

.infoContainer, :global(.infoContainer) {
  position: relative;
  top: 80px;
  margin: 0px auto;
  max-width: 900px;
}

.infoView, .infoDescription, :global(.infoView) {
  padding: 5px 10px;
}

.infoView {
  font-size: 1.5em;
  line-height: 1.3em;

  border: 3px solid #eee;
}

.errorView {
  background-color: var(--color-error);
  color: var(--color-text);
}

.termLine:before {
  content: "> ";
}

.computerView {
  height: 100%;
}

.computerSplit {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.terminalView, .editorView {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.fileList {
  flex-basis: 200px;
  max-width: 200px;
  background-color: var(--color-filelist-background);
  font-size: 0.8em;
  line-height: 1.4em;
}

.fileEntry {
  padding: 5px 3px;
  cursor: pointer;
}

.fileEntry:hover {
  background-color: var(--color-fileentry-hover);
}

.fileEntry.active {
  background-color: var(--color-fileentry-active) !important;
}

.fileComputer .fileName {
  font-size: 1.4em;
}

.fileInfo, .fileName {
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--color-filname);
}

.fileInfo {
  font-size: 0.8em;
  color: var(--color-fileinfo);
}

.fileInfo a, .fileInfo a:hover, .fileInfo a:visited, .fileInfo a:focus, .fileInfo a:active {
  color: inherit;
  text-decoration: none;
}

.fileIcon { float: right; padding: 5px; }
.fileEntry:hover .fileIcon:before { content: "\2715"; }
.fileIcon.fileIconModified:before { content: "\2b24"; }
.fileIcon.fileIconReadonly:before { content: "!"; }

.notifications {
  position: absolute;
  left: 200px; /* From .file-list, I'm sorry */
  top: 0;
  right:  0;
}

.notification {
  position: relative;
  display: flex;
  justify-content: space-between;

  width: 80%;
  margin: 10px auto;
  z-index: 100;
  font-size: 0.9em;

  background: var(--color-notification-background);
}

.notification > * { padding: 0.5em; }
.notificationKind { color: white; }

.notificationContent {
  flex-grow: 1;
  flex-shrink: 1;
}

.notificationClose {
  color: #aaa;
  cursor: pointer;
}

.notificationClose, .notificationKind {
  display: flex;
  align-items: center;
}

.notificationClose:hover { color: #666; }
.notificationClose:before { content: "\2715"; }

.notificationError { border: 1px solid var(--color-error); }
.notificationError .notificationKind { background-color: var(--color-error); }
.notificationError .notificationKind span:before { content: "Error"; }

.notificationWarn { border: 1px solid var(--color-warn); }
.notificationWarn .notificationKind { background-color: var(--color-warn); }
.notificationWarn .notificationKind span:before { content: "Warning"; }

.notificationOk { border: 1px solid var(--color-ok); }
.notificationOk .notificationKind { background-color: var(--color-ok); }
.notificationOk .notificationKind span:before { content: "Success"; }

.settingsCog {
  position: fixed;
  bottom: 5px;
  left: 5px;
  opacity: 0.6;
  z-index: 50;
}

.settingsCog:hover { opacity: 1; }

.dialogueOverlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  z-index: 150; /* Over notification and cogs */

  background: rgba(0, 0, 0, 0.7);
}

.dialogueBox {
  position: relative;
  top: 80px;
  margin: 0px auto;
  padding: 20px;
  width: 800px;

  background: var(--color-background);
}

.formGroup {
  display: flex;
  flex-wrap: wrap;
}

.formGroup > label {
  flex-basis: 50%;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 500;
}

.formGroup input, .formGroup select {
  margin: 0px 5px;
}
